{% extends 'base.html' %}
{% load i18n %}

{% block title %}NoticeBoard Title{% endblock title %}

{% block content %}

<section id="notices">
  <div class="space-md"></div>
  {% for notice in notice_list %}
    <div class="card margins-md">
      {{ notice.content.html | safe }}
      <div class="row">
        <div class="col">
          {{ notice.author }}
        </div>
        <div class="col">
          <div class="is-right">
            <a href="{% url 'core:notice_detail' notice.id %}?category={{ notice.category.id }}" class="button primary">View</a>
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
</section>



{% endblock content %}