<!DOCTYPE html>
{% load static %}
{% load account socialaccount %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <script src="{% static 'js.cookie.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'chota.min.css' %}">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  {% include 'django_quill/media.html' %}
  {% block head_scripts %}
  <!-- head scripts -->
  {% if user.is_authenticated %}
  <script language="JavaScript">
    const csrftoken = Cookies.get('csrftoken');

    function xhr_logout() {
      const req = new Request(
      "{% url 'account_logout' %}",
      {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin',
        redirect: 'follow'
      });
      fetch(req).then(function(response){
        if (response.redirected){
          window.location.href = response.url;
        }
      });
    };

  </script>
  {% endif %}

  {% endblock head_scripts %}
</head>
<body id="top">

<nav class="nav">
  <div class="nav-left">
    <a href="/" class="brand">NoticeBoard</a>
  </div>
  <div class="nav-right">
    {% if user.is_authenticated %}
    <a href="{% url 'core:person_profile' %}" class="button primary">My profile</a>
    <button type="button" onclick="xhr_logout();" class="button primary outline">Log Out</button>
    {% else %}
    <a href="{% url 'account_login' %}" class="button primary">Log In</a>
    {% endif %}
  </div>
</nav>

<nav class="nav">
  <div class="nav-left">
    <div class="tabs">
      <a href="/?category=" class="{% if not category_current %}active{% endif %}">All</a>
      {% for category in category_list %}
        <a href="/?category={{ category.id }}" class="{% if category.id == category_current|add:'0' %}active{% endif %}">{{ category.title }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="nav-right">
    <a href="/add" class="button secondary">Post notice</a>
  </div>
</nav>


  <main class="container">
    {% block content %}{% endblock content %}
  </main>

{% if messages %}
  <section id="messages">
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
  </section>
{% endif %}

{% block footer_scripts %}
<!-- footer scripts -->

{% endblock footer_scripts %}

</body>
</html>